<!DOCTYPE html>
<html>
<head>
<script src="http://code.jquery.com/jquery.min.js"></script>
<link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <a href="" class="thumbnail">
        <img src="https://pbs.twimg.com/profile_images/378800000083737978/d0927edcb1b155039718a1822d3f5a88.jpeg" style="width:100%">
    </a>
    </div>
    <div class="col-md-8">
      <h2>Ed Snowden<h2>
    </div>
  </div>
</div>
  
  
  
 
</body>
</html>