<div>
  
  <div class="container">
      
    <div class="row">
      <img src="https://pbs.twimg.com/profile_images/378800000083737978/d0927edcb1b155039718a1822d3f5a88.jpeg" >
        <p><h1>Edward Snowden</h1>  
        <h2>Claim to fame: NSA leaks</h2>
      <h2>Location: Russia?</h2><p>
      <p>Edward Joseph Snowden (born June 21, 1983) is an American computer professional, former employee of the Central Intelligence Agency (CIA) and former contractor for the National Security Agency (NSA). He came to international attention when he disclosed thousands of classified documents to several media outlets, which he had acquired while working for the American consulting firm Booz Allen Hamilton.[2][3] Snowden's release of classified material has been described as the most significant leak in U.S. history by Pentagon Papers leaker Daniel Ellsberg.<p>
    </div>
  <div>
</div>